/* 请不要直接修改modules/_sprite，因为该文档由Gulp自动生成，
可以在gulp/templates/sprite下进行修改*/



{{#shapes}}
	{{#first}}
	.icon {
		background-image: url('../../assets/images/sprites/{{{sprite}}}');
	}

		.no-svg .icon {
		background-image: url('../../assets/images/sprites/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
	}
	
	{{/first}}
	.icon--{{base}} {
		width: {{width.outer}}px;
		height: {{height.outer}}px;
		
		background-position: {{position.relative.xy}};
	}
{{/shapes}}